<!DOCTYPE html>
<html>
<head>
    <title>Sandwichometer</title>
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div class='button'>
  <h1>Sandwichometer</h1>
  <h2>Generate a random sandwich. Just click the button!</h2>
  <input id='button' type='checkbox'>
  <label for='button'>
    <div class='button_inner q'>
      <i class='l ion-log-in'></i>
      <span class='t'>Load sandwiches!</span>
      <span>
        <i class='tick ion-checkmark-round'></i>
      </span>
      <div class='b_l_quad'>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
        <div class='button_spots'></div>
      </div>
    </div>
  </label>
</div>
<main class="scene">
  <div class="actor">
    <div id="jjbot" class="actor__content"></div>
  </div>
</main>
<a href="#" id="getSandwich" class="action-button shadow animate green">Get my sandwich!</a>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/theaterjs/latest/theater.min.js"></script>
<script type="text/javascript">
  var theater = theaterJS({ 'autoplay': false, 'erase': false })
  var myOffers = [{% for o in offers %}"{{ o[0] }}",{% endfor %}];
  var myPrices = [{% for o in offers %}"{{ o[1] }}", {% endfor %}];

var resetButton = window.document.getElementById('getSandwich');

theater
  .on('type:start, erase:start', function () {
    // add a class to actor's dom element when he starts typing/erasing
    var actor = theater.getCurrentActor()
    resetButton.style.visibility = 'hidden';
    actor.$element.classList.add('actor__content--typing')
  })
  .on('type:end, erase:end', function () {
    // and then remove it when he's done
    var actor = theater.getCurrentActor()
    actor.$element.classList.remove('actor__content--typing')
    resetButton.style.visibility = 'visible';
  })

theater
  .addActor('jjbot', { 'speed': 0.9, 'accuracy': 0.5 })

function playNextScene(){
  theater.play().stop();
}

while (myOffers.length){
  var randomIndex = Math.floor(Math.random() * myOffers.length);

  var randOffer = myOffers.splice(randomIndex, 1);
  var randPrice = myPrices.splice(randomIndex, 1);
  theater.addScene('jjbot:' + randOffer + " — Price: $" + randPrice);
}

theater.addScene(theater.replay);

//theater
  //.addScene('jjbot:' + rand, 500)
  //.addScene('jjbot:' + rand2, 500)
  //.addScene('jjbot:' + rand3, 500)

//document.querySelector('.button').addEventListener('click', function () {
  //setTimeout(function(){theater.play();}, 5000);
//}, false)

$(document).ready(function(){
  $('div').click(function(){
    $('div').toggleClass('clicked');
    setTimeout(function(){
      $('div.button_inner').fadeOut('slow');
      $('a').fadeIn('slow');
      //$('input').prop('checked', false);
    }, 6000);
  });
  $('a').click(function(){
    playNextScene();
  });
});
</script>
</body>
</html>
